{% extends 'base.html' %}
{% load static %}
            {% block content %}
            <div class="mapage">
                <h1 class="LOG" >로그인</h1>


                <form method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    <table class="idpaw">
                        <tr>
                            <td>{{form.username.label_tag}}</td>
                            <td>{{form.username}}</td>
                       </tr>
                        <tr>
                            <td>{{form.password.label_tag}}</td>
                            <td>{{form.password}}</td>
                        </tr>
                    </table>
                    {% if form.errors %}
                   <p>등록되지 않은 회원이거나 아이디 혹은 비밀번호가 올바르지 않습니다.</p>
                    {% endif %}
                    <input type="submit" value="Login" class="btn btn-primary" >
                    <a href="{% url 'accounts:join' %}"class="btn btn-primary" >Join</a>
                </form>
            </div>
            {% endblock %}

