{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="mapage">
    <h1 style="font-weight: bold !important;">CART</h1>
    <br>
    <form method="post" action="{% url 'remove_selected_from_cart' %}" >
        {% csrf_token %}
        <ul class="cartc">
            {% for item in cart %}
                <li>
                    <input type="checkbox" name="selected_products" value="{{ item.product_id }}">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                    <h5 style="font-weight: bold !important;">상품명: {{ item.name }}</h5>
                    옵션 : Size: {{ item.size }} | 색상: {{ item.color }}<br>
                </li>
            {% endfor %}
        </ul>
        <div class="btn-container">
            <button type="submit" class="btn btn-primary delete">Select Delete</button>
            <a class="btn btn-primary" href="{% url 'index' %}">Add</a>
            <button class="btn btn-primary"> Order </button>

        </div>
    </form>


</div>
{% endblock %}