{% extends 'base.html' %}
{% block content %}
{% load static %}
<h2 style="margin-top:20px; margin-left :10px; margin-bottom:30px;!important"> COMMENT </h2>
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <form method="post" class="mb-4" action="{% url 'comment2_update' comment.id %}">
                {% csrf_token %}
                <textarea id="content" name="content" class="form-control" rows="3">{{ form.content.value }}</textarea>
                <button type="submit" class="btn btn-primary" style="margin-top:10px; ">submit</button>
            </form>
        </div>
     </div>
</section>


{% endblock %}