    <!DOCTYPE html>
    {% load static %}
    <html lang="ko">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>Project Ria</title>
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="css/styles.css" rel="stylesheet" />

            <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    $(".intro-button").hover(function() {
                        $(".intro-text").show();
                    }, function() {
                        $(".intro-text").hide();
                    });
                });
                $(document).ready(function() {
                    $(".product-button").hover(function() {
                        $(".product-text").show();
                    }, function() {
                        $(".product-text").hide();
                    });
                });
                $(document).ready(function() {
                    $(".login-button").hover(function() {
                        $(".login-text").show();
                    }, function() {
                        $(".login-text").hide();
                    });
                });
                $(document).ready(function() {
                    $(".my-button").hover(function() {
                        $(".my-text").show();
                    }, function() {
                        $(".my-text").hide();
                    });
                });
            </script>
        </head>
        <body>
            <!-- Responsive navbar-->
           <nav class="navbar navbar-expand-md navbar-dark bg-dark">
             <div class="container px-5">
                 <a class="navbar-brand" href="{% url 'mysite' %}">Project RIA</a>
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ms-md-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link intro-button" href="{% url 'info' %}">
                                <span>Company</span>
                                <span class="intro-text">Introduce</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link product-button" href="{% url 'index' %}">
                                <span>Product</span>
                                <span class="product-text">Necklace | </span>
                                <span class="product-text">Earring | </span>
                                <span class="product-text">bracelet & anklet</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link login-button" href="{% url 'login' %}">
                                <span>Login</span>
                                <span class="login-text">Login</span>
                                <span class="login-text">Join</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link my-button" href="#!">
                                <span>My</span>
                                <span class="my-text">Mypage</span>
                                <span class="my-text">Order</span>
                                <span class="my-text">Cart</span>
                            </a>
                          </li>

                      </ul>
                    </div>
              </div>
            </nav>

            <!-- Page Content-->
            <div class="login-wrapper">
              <h2>Login</h2>
              <form method="post" action="서버의url" id="login-form">
                  <input type="text" name="userName" placeholder="Email">
                  <input type="password" name="userPassword" placeholder="Password">
                   <label for="remember-check">
                      <input type="checkbox" id="remember-check">아이디 저장하기
                   </label>
                  <input type="submit" value="Login">
              </form>
         </div>
            <!-- Footer-->
            <footer class="py-5 bg-dark">
                <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">© 2023. RIA Co. all rights reserved.</p></div>
            </footer>
        </body>
    </html>
