{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mapage">
        <h1 style="font-weight: bold !important;">MY PAGE</h1>
        <h4 style="font-family: 'Noto Sans KR', sans-serif; color:#ccc;">회원 정보</h4>

        <table class="idpaw">
            <tr>
                <td>ID :   </td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Password :  </td>
                <td> ********** </td>
            </tr>
            <tr>
                <td>E-mail :  </td>
                <td>{{ user.email }}</td>
            </tr>
        </table>
        <br>
            <div class="btn-container">
            <a class="btn btn-primary" href="{% url 'cart' %}">Go Cart</a>
            <button type="submit" class="btn btn-primary">Order</button>
        </div>
</div>
{% endblock %}

