{% extends 'base.html' %}
{% block content %}
{% load static %}
<div style="margin-top:30px; margin-left : 120px;">
<h2 ><a href="{% url 'contentN' %}" class="category">< List</a> </h2>
</div>
<div class="product-details">

    <div class="product-image">
        <img class="proimg" src="{{ product.image.url }}" alt="{{ product.name }} 이미지">
    </div>
    <div class="product-info">
        <h3>{{ product.name }}</h3>
        <br>
        <p>{{ product.description }}</p>

        <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div>
                <label for="size">SIZE</label>
                <select name="size" id="size">
                   <option value="Medium">Medium</option>
                    <option value="Long">Long</option>
                 </select>

            </div>
            <div>
                <label for="color">COLOR</label>
                <select name="color" id="color">
                  <option value="Silver">Silver</option>
                 <option value="Gold">Gold</option>
                 <option value="Rose Gold">Rose Gold</option>
                </select>
            </div>

            <div class="buyb">
                 <button type="submit" class="btn btn-primary">Cart</button>
                 <button type="submit" class="btn btn-primary">Buy</button>
            </div>

        </form>
    </div>
</div>


<div class="commentss">
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <form method="post" action="{% url 'comment_create' product_id=product.id %}">
                {% csrf_token %}
               <label for="content">상품평 작성</label>
                <textarea id="content" name="content" class="form-control" rows="3" required placeholder="내용을 입력해주세요."></textarea>
               <button type="submit" class="btn btn-primary" style="margin-top:10px;">Submit</button>
            </form>
            <div class="comment-list" style="margin-top:30px; margin-left:10px; >
                {% for comment in product.comment_set.all %}

                   <div class="comment" style="margin-top:20px;">
                        <strong style=" font-weight: bold;font-size:18px;">[{{ comment.author.username }}]</strong>
                        <p style="margin-top:10px; ">{{ comment.content }}</p>
                        <small style="font-size:12px;">{{ comment.create_date }}</small>
                   </div>
                {% if comment.create_date != comment.modify_date %}
                <p style="font-size:12px;">- 수정일자: {{ comment.modify_date }}</p>
                {% endif %}
                {% if request.user == comment.author %}
                <a href="{% url 'comment_update' comment.id %}" class="btn btn-sm btn-outlinesecondary">수정</a>
                <a href="{% url 'comment_delete' comment.id %}" class="btn btn-sm btn-outlinesecondary">삭제</a>
                {% endif %}

               {% endfor %}
            </div>
        </div>
    </div>
</section>
</div>

{% endblock %}