{% extends 'base.html' %}
{% block content %}
{% load static %}
            <div class="container px-4 px-lg-5">
                <!-- Heading Row-->
                <div class="row gx-4 gx-lg-5 align-items-center my-5">
                    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'company.jpg' %}" alt="..." /></div>
                    <div class="col-lg-5">
                        <h1 class="font-weight-light">아름다움으로<p>다가갑니다</p></h1>
                        <p style="margin-top:10px!important;">언제 어디서든 최고로 빛나도록,<br>RIA의 쥬얼리와 함께하세요.</p>
                        <a class="btn btn-primary" href="{% url 'info' %}">회사 소개</a>
                    </div>
                </div>
                <!-- Call to Action-->
                <div class="card text-white bg-secondary my-5 py-4 text-center" >
                    <div class="card-body" >
                        <p class="text-white m-0 font-weight-light" > <p>저희 RIA는 고객님의 만족을 위해 늘 최선을 다하겠습니다.</p>
                    </div>
                </div>
                <!-- Content Row-->
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Necklace</h2>
                            </div>
                            <div class="neck-image"><img src="{% static 'necklace.jpg' %}" alt="상품 이미지"></div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'contentN' %}">자세히</a></div>

                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Earring</h2>
                            </div>
                            <div class="ear-image"><img src="{% static 'earring.jpg' %}" alt="상품 이미지"></div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'contentE' %}">자세히</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">bracelet & anklet</h2>
                            </div>
                            <div class="ba-image"><img src="{% static 'bracelet.jpg' %}" alt="상품 이미지"></div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'contentL' %}">자세히</a></div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}